/* style.css */
/* reset */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
ul{list-style-type: none;}
a{
    text-decoration: none;
    color: #333333;
}
.clear {clear: both;}
.sub_title {
    font-size: 24px;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    color: #333333;
}
/* 
page 규격(폭): 1200px
main - color: #7b422e
sub - color: #bb692d, #83d154
*/

/* header 영역 */

#main_header {
    position: relative;
    /* background: #ccc; */
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    text-align: left;
  }
  #main_header > h1 {
    padding: 30px 0;
  }
/* 메인 메뉴 */
#main_gnb {
    position: relative;
    /* outline: 1px solid red; */
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: 30px;
}
  /* outline: 1px solid red; */
}

#main_gnb > #login > li > img {
    position: relative;
    display: block;
    right: 10px;
    top: 5px;
}
/* 1단계 메뉴 */
#main_gnb > .depth1 > li {
    position: relative;
    float: left;
    width: 14%;
    left: 90px;
    bottom: 25px;   /* 57 */
    /* height: 30px; */
    /* outline: 1px solid red; */
    line-height: 20px;
    z-index: 99;
}
#main_gnb > .depth1 > li > a {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 3px solid #fff;
}
/* hover시 메뉴 언더라인 효과 */
#main_gnb > .depth1 > li > a:hover {
    border-bottom: 3px solid #bb692d;
}

/* 2단계 메뉴 */
#main_gnb .depth2.show {
    background: #fff;
    height: 100px;
    padding: 10px;
    line-height: 30px;
    overflow: hidden;
    /* outline: 1px solid green; */
}
#main_gnb .depth2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition-duration: 0.3s;
}
#main_gnb .depth2 a {
    display: block;
    font-weight: bold;
}
#main_gnb .depth2 a:hover {
    color: #bb692d;
    /* border-bottom: 0.5px solid #3a466a; */
}


/* 메인 베너 */
#main_banner {
    /* 가변이미지범위: 1200px ~ 1920px(HD) */
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto; 
    /* overflow: hidden; */
    /* background: #ccc; */
    margin-top: 100px;
        /* outline:1px solid red; */
}
#main_banner .slider img {width: 100%;}


/* 뉴스 section */
#news {
    width: 1200px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    /* top: 30px; */
}



#news > h2 > span {
    font-size: 30px;
}
/* 섹션 제목 하단 보더 */
.line {
    display: block;
    border-bottom: 3px solid #83d154;
    width: 80px; height: 3px;
    margin: 20px auto;
    margin-bottom: 40px;
}
#news > img {width: 100%;
             float: left;
       
}



#news > aside {
    margin-top: 100px;
    width: 50%;
    float: right;
}
#news > aside > img {
    
    width: 1200px;
    height: 100px;
    position: relative;
}
#news > aside > img:first-child {
    margin-bottom: 40px;
}
#news > .news_list{
    width: 50%;
    float: left;
    /* outline: 1px solid red; */
    padding: 30px;
    padding-top: 100px;
}
#news .news_list > h3 {
    font-size: 28px;
    color: #bb692d;
}
#news .line{margin-bottom: 30px;}

#news .news_list > ul {
    margin-bottom: 100px;
    /* outline: 1px solid red; */
    padding: 0px 50px;
    letter-spacing: 1px;
    text-align: left;
}
#news .news_list > ul > li {
    line-height: 2.8em;
    border-bottom: 1px solid #ccc;
}
#news .news_list > ul > li > .date {
    float:right;
    color: #bb692d;
    font-size: 0.87em;
}
#news .sub_title {
    color: #bb692d;
}





#main_footer{
    position: relative;
    width: 100%;
    text-align: center;
    background: #ffffff;
    padding: 100px 20px;
    color: #333333;
    float: left;
}
#main_footer > p, #main_footer > address {
    font-style: normal;
    text-align: center;
    font-size: 12px;
    line-height: 2em;
    margin: 10px;
}
